
<%= simple_form_for(task) do |form| %>
  <div class="wrap">
    <%= form.input :title, label: t("tasks.task_title")  %> 
    <%= form.input :content, label: t("tasks.task_content") %>
    <%= form.input :task_begin, label: t("tasks.task_begin") %>
    <%= form.input :task_end, label: t("tasks.task_end") %>
    <%= form.input :priority, as: :select, collection:[['low', t('tasks.priority_low')], ['medium', t('tasks.priority_medium')], ['urgent', t('tasks.priority_urgent')]], label_method: :second, value_method: :first, label: t("tasks.task_priority") %>
    <%= form.input :status, as: :select, collection:[['pending', t('status_pendng')], ['proceeding', t('status_proceeding')], ['done', t('status_done')]], label_method: :second, value_method: :first, label: t("tasks.task_status") %>

    <%= form.submit %>
    </div>
  </div>

<% end %>