

<h1>工作任務首頁</h1>

<%= button_to "新增任務", new_task_path ,method: "get"%>

<table>
  <tr>
    <td>任務ID</td>
    <td>任務名稱</td>
    <td>任務內容</td>
    <td>優先順序</td>
    <td>任務狀態</td>
    <td>任務開始</td>
    <td>任務結束</td>
  </tr>


<% @tasks.each do |task| %>
  <tr>
    <td><%= task.id %></td>
    <td><%= link_to task.title, task_path(task)  %></td>
    <td><%= task.content %></td>
    <td><%= task.priority %></td>
    <td><%= task.status %></td>
    <td><%= task.task_begin %></td>
    <td><%= task.task_end %></td>
    <td><%= button_to "編輯", edit_task_path(task), method: 'get' %></td>
    <td><%= button_to "刪除", task_path(task), method: 'delete', data: { confirm: "確認刪除嗎？"} %></td>
  </tr>
<% end %>
</table>