<h1><%=t("tasks.show_title")%></h1>
<% if @task %>
  <h1><%= @task.title %></h1>
  <ul>
    <li><%=t("tasks.show_title")%>：<%= @task.content %></li>
    <li><%=t("tasks.task_begin")%>：<%= @task.task_begin %></li>
    <li><%=t("tasks.task_end")%>：<%= @task.task_end %></li>
    <li><%=t("tasks.task_priority")%>：<%= t("tasks.priority_#{@task.priority}") %></li>
    <li><%=t("tasks.task_status")%>：<%= t("tasks.status_#{@task.status}") %></li>
  </ul>
<% else %>
  <h1>沒有此任務</h1>
<% end %>