<h3> <%= error_message %> </h3>

<%= simple_form_for(user) do |form| %>
  <div class="wrap">
    <%= form.input :username, label: "使用者帳號" %> 
    <%= form.input :email, label: "E-mail 信箱" %>
    <%= form.input :password, label: "密碼"%>
   
    <%= form.submit%>
  </div>

<% end %>